@page
@model FitnessTracker.WebUI.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["ActivePage"] = "ChangePassword"; 
}

<h4>@ViewData["Title"]</h4>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    var statusMessageClass = Model.IsSuccess ? "alert-success" : "alert-danger";
    <div class="alert @statusMessageClass" role="alert">
        @Model.StatusMessage
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your current password."/>
                <label asp-for="Input.CurrentPassword" class="form-label"></label>
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password."/>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmNewPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}