@page
@model FitnessTracker.WebUI.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info" role="alert">
        @Model.StatusMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        </form>
        <div class="mt-3">
            <p><a asp-page="./Login">Back to Login</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}